.app-header {
  
  h1 {
    margin: 0;
    text-align: center;
    @include font-size(14);
  }

  &-update {
    display: grid;
    grid-template-columns: 70% 30%;

    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: .5rem 0;

    &-header {
      display: inline-block;
      margin-top: .4rem;
  
      @include font-size(10);
      font-weight: 400;
      color: darkkhaki;
    }

    &-button {
      @include font-size(10);
      font-weight: 400;
    }

  }


}
