.display {
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

  display: grid;
  grid-template-columns: 100%;

  
  &-field {

    &.active {
      color: #2ecc40;
      background: #404E67;
      border: solid 1px #2ecc40;
    }

    padding: .5rem;

    background: #272c33;
    color: #ff851b;
    border: solid 1px #ff851b;
    border-radius: .25rem;

    text-align: right;
    min-height: 2.8rem;
    
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5rem;

    &-currency {
      margin-left: .5rem;
    }

  }
  
}
